 nav{
        text-align: center;
        font-size: x-large;
    }
    body{
        background-color: rgb(167, 77, 174);
        font-size: medium;
    }
    p{
        font-size: x-large;
    }
    ul{
        font-size: x-large;
    }